*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

/* Custom Properties */

:root {
  /* Fonts */
  --ff-primary: 'Work Sans', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;

  /* Font Weights */
  --fw-reg: 500;
  --fw-bold: 900;

  /* Font Sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sml: .85rem;

  /* Colors */
  --color-dark: #211920;
  --color-dark-tint: #302b2f;
  --color-light: #F9F1F0;
  --color-accent: #C069E6;
}


@media(min-width: 800px) {
  :root {
    /* Font Sizes */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body:1.125rem;
  }
}

/* General Styles */

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(255 255 255 / 0.3);
  border-radius: 3px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__prevtitle {
  margin: .25em;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}

.section__title {
  margin-bottom: .25em;
}

.section__title--hero {
  font-weight: var(--fw-bold);
}

.section__title--name {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--hero, .section__subtitle--about {
  background: var(--color-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header and Nav */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  background-color: var(--color-dark);
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: var(--color-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  background-image: linear-gradient(90deg, #e3ffe7, #d9e7ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 2em;
  z-index: 1000;
}

.nav-open .nav{
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-10px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-light);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 10px; }
.hamburger::after { bottom: 10px; }



/* Hero Section */

.hero {
  position: relative;
}

@media (min-width: 600px) {
  .hero {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .hero__image {
    grid-area: img;
    min-width: 250px;
  }
/* 
  .section__prevtitle, .section__title--hero {
    grid-area: title;
  } */

  .section__subtitle--hero {

    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: right;
  }
}

/* Scroll to Top Btn */
.scroll-to-top {
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 200;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  background-color: var(--color-dark);
  border: none;
}

.show-btn {
  opacity: 1;
  transform: translateY(0);
}

.fa-arrow-up {
  color: var(--color-light);
}

/* Tech */
.tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0px;
  padding-left: 0px;
}

.tech-list__item {
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding: 7px;
  margin: .35em;
  background: var(--color-dark);
  box-shadow: 0 2px 5px rgba(255 255 255 / 0.3);
  list-style: none;
  /* TODO fix transition */
}

.tech-list__item:hover {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  /* background: linear-gradient(321deg, rgba(239,4,80,1) 0%, rgba(213,47,154,0.8762692577030813) 19%, rgba(200,69,191,1) 34%, rgba(192,105,230,0.8678658963585434) 52%, rgba(158,195,241,1) 69%, rgba(183,211,238,1) 83%, rgba(255,213,201,0.8370535714285714) 99%); */
  font-weight: 500;
  color: var(--color-dark);
}

/* Projects */

.projects__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.projects__card {
  background: var(--color-dark-tint);
  border-radius: 3px;
  margin: 2em 1em;
  height: fit-content;
  padding: 2em;
  max-width: 600px;
  display: grid;
  grid-template-columns: min-content, max-content;
}

.projects__card img {
  background-color: var(--color-dark);
  opacity: 0.2;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.projects__title {
  margin-top: 1em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 500;
  justify-self: center;
  align-self: center;
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500; */
}

.projects-tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0px;
  padding-left: 0px;
}

.projects-tech__item {
  font-size: var(--fs-sml);
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding: 7px;
  margin: .35em;
  box-shadow: 0 1px 3px rgba(255 255 255 / 0.3);
  list-style: none;
}

.projects__links {
  text-align: center;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.projects-links__item {
  font-size: var(--fs-body);
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: .35em;
  color: var(--color-dark-tint);
  box-shadow: 0 2px 5px rgba(255 255 255 / 0.3);
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-weight: 600;
  text-decoration: none;
}

.projects-links__item:hover {
  border: 1px solid var(--color-light);
  background: var(--color-dark-tint);
  color: var(--color-light);
  /* background: linear-gradient(321deg, rgba(239,4,80,1) 0%, rgba(213,47,154,0.8762692577030813) 19%, rgba(200,69,191,1) 34%, rgba(192,105,230,0.8678658963585434) 52%, rgba(158,195,241,1) 69%, rgba(183,211,238,1) 83%, rgba(255,213,201,0.8370535714285714) 99%); */
}

.fa-chevron-right {
  color: var(--color-accent);
  font-size: var(--fs-body);
}

.fa-chevron-right:hover {
  transform: translateX(5px);
}

/* Contact */

.section__subtitle--contact {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
}

.section__subtitle--hi {
  display: block;
}

.fa-github, .fa-linkedin-in {
  color: var(--color-light);
}

.contact__links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}