*, 
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  /* Fonts */
  --ff-primary: 'Work Sans', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;

  /* Font Weights */
  --fw-reg: 500;
  --fw-bold: 900;

  /* Font Sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body:1rem;

  /* Colors */
  --color-dark: #211920;
  --color-light: #F9F1F0;
  --color-accent: #C069E6;
}


@media(min-width: 800px) {
  :root {
    /* Font Sizes */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body:1.125rem;
  }
}

/* General Styles */

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__prevtitle {
  margin: .25em;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}

.section__title {
  margin-bottom: .25em;
}

.section__title--hero {
  font-weight: var(--fw-bold);
}

.section__title--name {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--hero, .section__subtitle--about {
  background: var(--color-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}


/* Hero Section */

.hero {
  position: relative;
}

@media (min-width: 600px) {
  .hero {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .hero__image {
    grid-area: img;
    min-width: 250px;
  }
/* 
  .section__prevtitle, .section__title--hero {
    grid-area: title;
  } */

  .section__subtitle--hero {

    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: right;
  }
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Tech */
.tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0px;
  padding-left: 0px;

}

.tech-list__item {
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding: 7px;
  margin: .35em;
  box-shadow: 0 2px 5px rgba(255 255 255 / 0.3);
}

.tech-list__item:hover {
  /* background: linear-gradient(90deg, rgba(239,4,80,1) 0%, rgba(192,105,230,0.8678658963585434) 23%, rgba(183,211,238,0.7586221988795518) 45%, rgba(213,47,154,0.8762692577030813) 72%, rgba(255,213,201,0.6017594537815126) 91%); */
  /* background: linear-gradient(90deg, rgba(239,4,80,1) 0%, rgba(183,211,238,0.7754289215686274) 18%, rgba(192,105,230,0.8678658963585434) 34%, rgba(158,195,241,0.8034401260504201) 52%, rgba(213,47,154,0.8762692577030813) 69%, rgba(255,213,201,0.8370535714285714) 85%, rgba(200,69,191,1) 99%); */
  background: linear-gradient(321deg, rgba(239,4,80,1) 0%, rgba(213,47,154,0.8762692577030813) 19%, rgba(200,69,191,1) 34%, rgba(192,105,230,0.8678658963585434) 52%, rgba(158,195,241,1) 69%, rgba(183,211,238,1) 83%, rgba(255,213,201,0.8370535714285714) 99%);
  /* color: var(--color-dark); */
  font-weight: 600;
}