h1 {
  color: aquamarine;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

li {
  text-decoration: none;
}